.tealtext {
    color: lightseagreen;
}

.tealbg {
    background-color: lightseagreen
}

.imgsize {
    height: 230px;
    width: 230px;
}

.navfont {
    font-size: 20px
}

.packagefont {
    font-size: 15px;
}

.featuredfont {
    font-size: 18px;
}
